<div class="hero-banner-container row">
    <div class="hero-banner__content-container">
        <div class="hero-banner__content container col-md-6">
            <h1 class="text--light text--lg text--white">
                Who's that hero?
                <!-- {{apiTitle}} -->
            </h1>
            <p class="text--semilight text--sm text--white">
                <!-- {{apiDescription}} -->
                Enter an image URL of a super hero below and we will tell you if the hero is from the DC or Marvel universe, and which hero
                we think it is...
            </p>
        </div>
    </div>
</div>
